<div class="container">
    <div class="nav-left">
        <a class="nav-item">
            <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
        </a>
        <a href="#" class="nav-item is-tab is-hidden-mobile is-active all">All</a>
        <a href="#task-1" class="nav-item is-tab is-hidden-mobile task-1">Task #1</a>
        <a href="#task-2" class="nav-item is-tab is-hidden-mobile task-2">Task #2</a>
        <a href="#task-3" class="nav-item is-tab is-hidden-mobile task-3">Task #3</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
        <a href="#" class="nav-item is-tab is-hidden-tablet is-active all">All</a>
        <a href="#task-1" class="nav-item is-tab is-hidden-tablet task-1">Task #1</a>
        <a href="#task-2" class="nav-item is-tab is-hidden-tablet task-2">Task #2</a>
        <a href="#task-3" class="nav-item is-tab is-hidden-tablet task-3">Task #3</a>
        <a  href="#none" class="nav-item is-tab none"> None </a>
    </div>
</div>
